<div id="<%= dom_id appoinment %>">
  <p>
    <strong>Date:</strong>
    <%= appoinment.date %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= appoinment.details %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= appoinment.image %>
  </p>
</div>
