<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Appoinment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to appoinments_path, class: button_class(theme: "transparent") do %>
      All Appoinments
      <% end %>
      <%= link_to edit_appoinment_path(@appoinment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @appoinment.date %></p>
      </li>
      <li>
        <p class="font-semibold">Details:</p>
        <p><%= @appoinment.details %></p>
      </li>
  </ul>
</div>
